{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'caesar/style.css' %}" />
    <title>Caesar cipher</title>
</head>
<body>
<header>
    <h2>Зашифруйте или расшифруйте текст на английском языке с помощью шифра цезаря:</h2>
</header>
<main>
    <div class="content clearfix">
        {% csrf_token %}
        <textarea class="inputText" placeholder="enter your text here"></textarea>
        <div class="controls">
            <label>Сдвиг
                <input type="text"
                       id="rotate"
                       value="0"
                       pattern="\d{1,2}"
                       maxlength="2"
                       title="только цифры" >
            </label>
            <input class="buttons" type="submit" id="encode" value="зашифровать">
            <input class="buttons" type="submit" id="decode" value="расшифровать">
        </div>
        <textarea class="outputText" readonly="true"></textarea>
    </div>
    <hr>
    <canvas id="canvas" width="800" height="200"></canvas>
    <hr>
    <textarea class="unravelText" placeholder="разгаданный текст"></textarea>
</main>
<footer>
    <p>Made by Dmytro Gierman for <a href="http://light-it.net/">Light-IT</a>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'caesar/frontend.js' %}"></script>
</body>
</html>