{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'caesar/style.css' %}" />
    <title>Caesar cipher</title>
</head>
<body>
<header>
    <h2>Шифр Цезаря</h2>
</header>
<main>
    <p class="intro">Encode or decode English text through the Caesar cipher:</p>
    <div class="content clearfix">
        {% csrf_token %}
        <textarea class="input_text" placeholder="enter your text here"></textarea>
        <div class="controls">
            <label>Rotate
                <input type="text"
                       id="rotate"
                       value="0"
                       pattern="\d{1,2}"
                       maxlength="2"
                       title="Rotate must be a number" >
            </label>
            <input class="buttons" type="submit" id="encode" value="encode">
            <input class="buttons" type="submit" id="decode" value="decode">
        </div>
        <textarea class="output_text" disabled="true" placeholder="encoded message"></textarea>
    </div>
    <p>Frequency diagram:</p>
    <canvas id="canvas"></canvas>
    <div class="additional clearfix">
        <div class = restored_text>
            <p>Text, restored by the computer:</p>
            <textarea class="restored_text_box" disabled="true"></textarea>
            <p class="probably_rotate"></p>
        </div>
        <div class="history">
            <p>Messages history:</p>
            <iframe id="iframe" src="{% url 'caesar:history' %}"></iframe>
        </div>
    </div>
</main>
<footer>
    <p>Made by Dmytro Gierman for <a href="http://light-it.net/">Light-IT</a><br>
    <a href="https://github.com/AcckiyGerman/Caesar_Cipher_Django">
	This project on GitHub</a></p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'caesar/frontend.js' %}"></script>
</body>
</html>