html, body, div, textarea, .buttons {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

body {
    padding: 0 15px;
    background-color: bisque;
}

header { margin-bottom: 40px;}

p, h2 {
    text-align: center;
    margin-bottom: 5px;
}

.input_text, .controls, .output_text {
    float: left;
    height: 160px;
    resize: none;
}

.input_text, .output_text, .restored_text { width: 40%; }

.controls {
    width: 20%;
    text-align: center;
}

#rotate {
    font-size: 22px;
    width: 26px;
}

.buttons {
    font-size: 18px;
    height: 50px;
    width: 160px;
    margin: 5px;
}

#canvas {
    width: 100%;
    height: 200px;
    border: 1px solid grey;
}

footer { margin-top: 40px;}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.restored_text {
    margin: 0 30%;
    height: 160px;
    resize: none;
}

.probably_rotate {
    margin-top: 0px;
}


@media screen and (orientation: portrait) { /* mobile */
    .input_text, .controls, .output_text, .restored_text {
        float: none;
        width: 100%;
        margin: 0px;
        height: 5em;
    }
    .intro { text-align: left; }
    .controls {
        height: auto;
        margin-bottom: 5px;
    }
}