/* mobile view first */
html, div, textarea, iframe, input, .buttons {
    box-sizing: border-box;
    font-font: 'Amatic SC', cursive;
    font-size: 20px;
}

body {
    padding: 0 15px;
    background-color: bisque;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea, iframe, canvas {
    width: 100%;
    height: 5em;
    resize: none;
}

.restored_text, .history {
    width: 100%;
}

#rotate {
    width: 1.5em;
}

.controls {
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 20px;
}

.buttons{
    margin: 5px 0;
    height: 2em;
}

/* desktop view */
@media screen and (min-width: 600px) {
    .flex-container{
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }
    .input_text, .output_text, .restored_text_box, iframe{
        height: 7em;
    }
    .restored_text, .history{
        width: 45%;
    }
}